.breadcrumb-container{
    background-color: white;
    padding: 10px;
    .home-label{
        font-weight: bolder;
        
        
    }

    .item-label{
        font-weight: lighter;
        padding-left: 15px;   
        padding-right: 15px;     
    }

    .icon{
            
    }
    
  
}

