.header-container{
    background-image: linear-gradient(#161a1d, #212b2e);
    width: 100%;
    height: 70px;
    border-bottom-style: solid;
    border-bottom-color: #35383c;
    border-width: 3px;
    position: fixed;
    left: 65px;
}